{% extends 'quiz/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
       <meta name ="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  a:link {
        text-decoration: none;
      }
    
  </style>
</head>
<h2 style="text-align:center; color:blue;">ADD QUESTION</h2>

        <form method="POST" enctype="multipart/form-data" style="margin:100px;">

    {% csrf_token %}

    <div class="form-group">
        <label>Course</label>
       <input type="text"
       name="course_name"
       class="form-control"
       placeholder="Enter Course Name"
       required>

        <br>

        <label>Choose PDF</label>
        {% render_field questionForm.pdf class="form-control" %}
    </div>

    <br>

    <button type="submit" class="btn btn-primary">
        Upload PDF
    </button>

</form>
<br><br><br>
{% endblock content %}
